In [2]:
#1. Write a code to reverse a string.

def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [5]:
#2. Write a code to count the number of vowels in a string.

def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for ch in s if ch in vowels)

print(count_vowels("hello world"))

3

In [4]:
#3. Write a code to check if a given string is a palindrome or not.

def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("level"))

True

In [6]:
#4. Write a code to check if two given strings are anagrams of each other.

def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))

True

In [7]:
#5. Write a code to find all occurrences of a given substring within another string.

def find_occurrences(text, sub):
    return [i for i in range(len(text)) if text.startswith(sub, i)]

print(find_occurrences("banana", "na"))

[2, 4]

In [8]:
#6. Write a code to perform basic string compression using the counts of repeated characters

def compress_string(s):
  result = ""
  i = 0
  while i < len(s):
    count = 1
    while i+1 < len(s) and s[i] == s[i+1]:
      i += 1
      count += 1
    result += s[i] + str(count)
    i += 1
  return result

print(compress_string("aabcccccaaa"))

a2b1c5a3

In [9]:
#7. Write a code to determine if a string has all unique characters.

def is_unique(s):
    return len(set(s)) == len(s)

print(is_unique("abcd"))

True

In [10]:
#8.  Write a code to convert a given string to uppercase or lowercase

s = "Hello World"
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [11]:
#9. Write a code to count the number of words in a string

def count_words(s):
    return len(s.split())

print(count_words("The quick brown fox"))

4

In [12]:
#10. Write a code to concatenate two strings without using the + operator

def concat_strings(s1, s2):
    return "{}{}".format(s1, s2)

print(concat_strings("Hello", "World"))

HelloWorld

In [13]:
#11. Write a code to remove all occurrences of a specific element from a list

def remove_element(lst, element):
  return [x for x in lst if x != element]

print(remove_element([1, 2, 3, 2, 4], 2))

[1, 3, 4]

In [14]:
#12. Implement a code to find the second largest number in a given list of integers

def second_largest(lst):
    unique = list(set(lst))
    unique.sort()
    return unique[-2] if len(unique) >= 2 else None

print(second_largest([1, 2, 3, 4]))

3

In [15]:
#13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and
# their counts as values

from collections import Counter

def count_elements(lst):
    return dict(Counter(lst))

print(count_elements([1, 2, 2, 3, 3, 3]))

{1: 1, 2: 2, 3: 3}

In [16]:
#14. Write a code to reverse a list in-place without using any built-in reverse functions

def reverse_list(lst):
    for i in range(len(lst)//2):
        lst[i], lst[-1-i] = lst[-1-i], lst[i]
    return lst

print(reverse_list([1, 2, 3, 4]))

[4, 3, 2, 1]

In [17]:
#15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

def remove_duplicates(lst):
  seen = set()
  result = []
  for i in lst:
    if i not in seen:
      seen.add(i)
      result.append(i)
  return result

print(remove_duplicates([1, 2, 2, 3, 1]))

[1, 2, 3]

In [18]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

def is_sorted(lst):
  return lst == sorted(lst) or lst == sorted(lst, reverse=True)

print(is_sorted([1, 2, 3, 4]))
print(is_sorted([4, 3, 2, 1]))
print(is_sorted([1, 3, 2]))

True
True
False

In [19]:
#17.  Write a code to merge two sorted lists into a single sorted list

def merge_sorted_lists(a, b):
    result = []
    i = j = 0
    while i < len(a) and j < len(b):
        if a[i] < b[j]:
            result.append(a[i])
            i += 1
        else:
            result.append(b[j])
            j += 1
    result.extend(a[i:])
    result.extend(b[j:])
    return result

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [20]:
#18. Implement a code to find the intersection of two given lists

def list_intersection(a, b):
    return list(set(a) & set(b))

print(list_intersection([1, 2, 3], [2, 3, 4]))

[2, 3]

In [21]:
#19. Create a code to find the union of two lists without duplicates

def list_union(a, b):
    return list(set(a) | set(b))

print(list_union([1, 2, 3], [3, 4, 5]))

[1, 2, 3, 4, 5]

In [22]:
#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

import random

def custom_shuffle(lst):
    shuffled = lst[:]
    for i in range(len(shuffled)-1, 0, -1):
        j = random.randint(0, i)
        shuffled[i], shuffled[j] = shuffled[j], shuffled[i]
    return shuffled

print(custom_shuffle([1, 2, 3, 4, 5]))

[3, 4, 2, 1, 5]

In [23]:
#21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both
# input tuples

def tuple_common(t1, t2):
    return tuple(set(t1) & set(t2))

print(tuple_common((1, 2, 3), (2, 3, 4)))

(2, 3)

In [28]:
#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection
# of these two sets

set1_input = input("Enter the first set of integers (comma-separated): ")
set2_input = input("Enter the second set of integers (comma-separated): ")

# Convert input strings to sets of integers
set1 = set(map(int, set1_input.split(',')))
set2 = set(map(int, set2_input.split(',')))

# Find the intersection
intersection = set1 & set2  # or set1.intersection(set2)

# Print the result
print("Intersection of the two sets:", intersection)

Enter the first set of integers (comma-separated): 1,2,3,4,5
Enter the second set of integers (comma-separated): 3,4,5,6,7
Intersection of the two sets: {3, 4, 5}

In [29]:
#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple
# containing elements from both input tuples

def concat_tuples(t1, t2):
    return t1 + t2

print(concat_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

In [30]:
#24.  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present
# in the first set but not in the second set

# Prompt the user to enter two sets of strings
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

# Convert the input into sets of strings (strip whitespace)
set1 = set(s.strip() for s in set1_input.split(','))
set2 = set(s.strip() for s in set2_input.split(','))

# Find the difference: elements in set1 but not in set2
difference = set1 - set2  # or set1.difference(set2)

# Print the result
print("Elements in the first set but not in the second:", difference)

Enter the first set of strings (comma-separated): apple, banana, cherry
Enter the second set of strings (comma-separated): banana, kiwi
Elements in the first set but not in the second: {'cherry', 'apple'}

In [31]:
#25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing
# elements from the original tuple within the specified range of indices

def tuple_slice(t, start, end):
    return t[start:end]

print(tuple_slice((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4)

In [32]:
#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

# Prompt the user to enter two sets of characters
set1_input = input("Enter the first set of characters (comma-separated): ")
set2_input = input("Enter the second set of characters (comma-separated): ")

# Convert input strings to sets of characters (strip whitespace)
set1 = set(char.strip() for char in set1_input.split(','))
set2 = set(char.strip() for char in set2_input.split(','))

# Compute the union
union_set = set1 | set2  # or set1.union(set2)

# Print the result
print("Union of the two sets:", union_set)

Enter the first set of characters (comma-separated): a, b, c
Enter the second set of characters (comma-separated): c, d, e
Union of the two sets: {'d', 'a', 'e', 'c', 'b'}

In [33]:
#27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values
# from the tuple using tuple unpacking

def min_max_in_tuple(t):
    return min(t), max(t)

print(min_max_in_tuple((10, 2, 34, 1, 7)))

(1, 34)

In [35]:
#28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
# two sets

# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union: elements in either set
union_result = set1 | set2

# Intersection: elements in both sets
intersection_result = set1 & set2

# Difference: elements in set1 but not in set2
difference_result = set1 - set2

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference (Set1 - Set2):", difference_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}

In [36]:
#29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences
# of the given element in the tuple

def tuple_count(t, element):
    return t.count(element)

print(tuple_count((1, 2, 2, 3, 2), 2))

3

In [37]:
#30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
# these two sets

# Prompt the user to enter two sets of strings
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

# Convert the input strings into sets (stripping whitespace)
set1 = set(item.strip() for item in set1_input.split(','))
set2 = set(item.strip() for item in set2_input.split(','))

# Compute the symmetric difference
symmetric_diff = set1 ^ set2  # or set1.symmetric_difference(set2)

# Print the result
print("Symmetric difference between the two sets:", symmetric_diff)

Enter the first set of strings (comma-separated): red, blue, green
Enter the second set of strings (comma-separated): blue, yellow, pink
Symmetric difference between the two sets: {'green', 'pink', 'yellow', 'red'}

In [38]:
#31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and
# the values are the frequencies of those words in the input list

def word_frequencies(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

print(word_frequencies(["apple", "banana", "apple", "orange", "banana", "apple"]))

{'apple': 3, 'banana': 2, 'orange': 1}

In [39]:
#32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common
# keys, the values should be added together

def merge_dicts(d1, d2):
    result = d1.copy()
    for k, v in d2.items():
        result[k] = result.get(k, 0) + v
    return result

print(merge_dicts({'a': 1, 'b': 2}, {'b': 3, 'c': 4}))

{'a': 1, 'b': 5, 'c': 4}

In [40]:
#33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
# function should return None

def access_nested_dict(data, keys):
    for key in keys:
        data = data.get(key)
        if data is None:
            return None
    return data

nested = {'a': {'b': {'c': 5}}}
print(access_nested_dict(nested, ['a', 'b', 'c']))

5

In [41]:
#34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can
# choose whether to sort in ascending or descending order

def sort_dict_by_values(d, reverse=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=reverse))

print(sort_dict_by_values({'a': 3, 'b': 1, 'c': 2}))

{'b': 1, 'c': 2, 'a': 3}

In [42]:
#35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly
# handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

def invert_dict(d):
    inverted = {}
    for k, v in d.items():
        if v not in inverted:
            inverted[v] = [k]
        else:
            inverted[v].append(k)
    return inverted

print(invert_dict({'a': 1, 'b': 2, 'c': 1}))

{1: ['a', 'c'], 2: ['b']}